{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}RFC - help{% endblock %}
{% block page_content %}
<div class="row">
    <div class="py-4">
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Help image <br></h1>
            </div>
        </div>
    </div>
    <div class="header-img">
        <figure class="fig">
            <img src= "static/imgs/focused_source_model_help.png" height="700">
        </figure>
    </div>
</div>
{% endblock %}