    <nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse px-4">
        <div class="sidebar-sticky pt-3 mx-auto">
            <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" class="fas fa-times" data-toggle="collapse"
                    data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                    aria-label="Toggle navigation"></a>
            </div>
            </div>
            <ul class="nav flex-column">
            <li class="nav-item">
                <span>
                    <span class="sidebar-icon">
                        <a href="/" class="nav-link" style="text-align: center;">
                            <img src="/static/icons/data/logo.png" height=80" alt="RFC">
                        </a>
                    </span>
                </span>
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <a href="{{url_for('api.focused_source_model')}}" class="nav-link d-flex align-items-center">
                <span class="sidebar-icon">
                    <span class="fas  fa-wifi" height="20" width="20"></span>
                </span>
                <span class="mt-1">Focused source model</span>
                </a>
            </li>
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <a href="{{url_for('api.load_model')}}" class="nav-link d-flex align-items-center">
                <span class="sidebar-icon">
                    <span class="fas fa-spinner" height="20" width="20"></span>
                </span>
                <span class="mt-1">Arbitrary source model</span>
                </a>
            </li>
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <a href="{{url_for('api.get_scatterer_params')}}" class="nav-link d-flex align-items-center">
                <span class="sidebar-icon">
                    <span class="fas fa-certificate" height="20" width="20"></span>
                </span>
                <span class="mt-1">Materials</span>
                </a>
            </li>
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <a href="{{url_for('api.scatterer')}}" class="nav-link d-flex align-items-center">
                <span class="sidebar-icon">
                    <span class="fas fa-calculator" height="20" width="20"></span>
                </span>
                <span class="mt-1">Calculation</span>
                </a>
            </li>
            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>
            <li class="nav-item">
                <a href="{{url_for('api.get_models')}}" class="nav-link d-flex align-items-center">
                <span class="sidebar-icon">
                    <span class="fas fa-th-list" height="20" width="20"></span>
                </span>
                <span class="mt-1">Results</span>
                </a>
            </li>
            </ul>
        </div>
    </nav>

