{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Load model{% endblock %}
{% block page_content %}

<style type="text/css">
    .block1{
        width: 200px;
    }
</style>

<div class="form form-vertical" role="form", method="POST">
    <h1>Please, create your model.</h1>
    <form method="POST" action="/create_model" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.model_name) }}
        <big> <strong> Wave parameters </strong></big>
        <br>
        <br>
        <div class="row" >
            <div class="form-group col-md-6">
                {{ wtf.form_field(form.spatial_step, class='form-control', placeholder='DX') }}
            </div>
            <div class="form-group col-md-6">
                {{ wtf.form_field(form.frequency, class='form-control', placeholder='Frequency') }}
            </div>
            <div class="form-group col-md-6">
                {{ wtf.form_field(form.speed_of_sound_in_water, class='form-control', placeholder='Speed of sound') }}
            </div>
            <div class="form-group col-md-6">
                {{ wtf.form_field(form.density_of_water, class='form-control', placeholder='Density of medium') }}
            </div>
        </div>
        <big> <strong> Transducer parameters </strong></big>
        <br>
        <br>
        <div class="row" >
            <div class="form-group col-md-6">
                {{ wtf.form_field(form.radius_of_hole, class='form-control', placeholder='Hole') }}
            </div>
            <div class="form-group col-md-6">
                {{ wtf.form_field(form.radius_of_transducer, class='form-control', placeholder='Transducer') }}
            </div>
            <div class="form-group col-md-6">
                {{ wtf.form_field(form.curvative_radius, class='form-control', placeholder='Curvative') }}
            </div>
            <div class="form-group col-md-6">
                {{ wtf.form_field(form.pressure_amplitude, class='form-control', placeholder='Amplitude') }}
            </div>
        </div>
        {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% if figure %}
    <div class="row" >
         <img src= "{{ url_for('api.send_data', path=figure)}}" style="display: block; object-fit: cover; border-radius: 0px; width: 400; height: 400;">
    </div>
{% endif %}
{% endblock %}