{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}List of models{% endblock %}
{% block page_content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">List of all models</h1>
        </div>
    </div>
</div>
<div class="card border-light shadow-sm mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0">#</th>
                        <th class="border-0">Model name</th>
                        <th class="border-0">Show results</th>
                        <th class="border-0">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                        <tr>
                            <td class="border-0">{{loop.index}}</td>
                            <td class="border-0"><a class="small">{{d.name}}</a></td>
                            <td class="border-0"><a class="small">
								<a href='/get_model_result/{{d.id}}'>
									Show model results
								</a></a>
							</td>
                            <td class="border-0">
								<a href="#delete-model" class="delete-current-model" data-id={{d.id}} data-toggle="modal">
									<i class="material-icons" data-toggle="tooltip" style="color:red" title="Delete"> <span class="fas fa-trash"></span></i>
                                </a>
                                <div id="delete-model" class="modal fade" >
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form>
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Delete model</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete model?</p>
                                                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                                    <input type="submit" class="btn btn-danger btn-ok" value= Удалить>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    $(function () {
        $(".delete-current-model").click(function () {
            var id = $(this).data('id');
            $(".btn.btn-danger.btn-ok").click(function(){
                $.ajax(
                {
                    url: '/delete_model/' + id,
                    type: 'DELETE',
                    success: function(res)
                    {
                        console.log(res)
                    },
                    error: function(error) {
                          console.log(error);
                    }
                });
            });
        })
    });
</script>
{% endblock javascripts %}








