{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} RFC {% endblock %}
{% block page_content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="form form-vertical" role="form", method="POST">
    <h1>Enter spherical scatterer parameters.</h1>
    <form method="POST" action="/scatterer" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="form-group col-md-12">
              {{ wtf.form_field(form.model_name, class='form-control', placeholder='Choose') }}
            </div>
        </div>
        <big> <strong> Object parameters </strong></big>
        <br>
        <br>
        <div class="row">
            <div class="form-group col-md-6">
                {{ wtf.form_field(form.radius, class='form-control', placeholder='Radius') }}
            </div>
            <div class="form-group col-md-6">
                {{ wtf.form_field(form.longitudinal, class='form-control', placeholder='Longitudinal') }}
            </div>
             <div class="form-group col-md-6">
                {{ wtf.form_field(form.transverse, class='form-control', placeholder='Transverse') }}
            </div>
             <div class="form-group col-md-6">
                {{ wtf.form_field(form.density_of_scatter, class='form-control', placeholder='Density of scatter') }}
            </div>
        </div>
        <big> <strong> X axis </strong></big>
        <br>
        <br>
        <div class="row" >
            <div class="form-group col-md-4">
                {{ wtf.form_field(form.from_value_x, class='form-control', placeholder='To') }}
            </div>
            <div class="form-group col-md-4">
                {{ wtf.form_field(form.to_value_x, class='form-control', placeholder='To') }}
            </div>
            <div class="form-group col-md-4">
                {{ wtf.form_field(form.step_x, class='form-control', placeholder='Step') }}
            </div>
        </div>
        <big> <strong> Y axis </strong></big>
        <br>
        <br>
        <div class="row" >
            <div class="form-group col-md-4">
                {{ wtf.form_field(form.from_value_y, class='form-control', placeholder='To') }}
            </div>
            <div class="form-group col-md-4">
                {{ wtf.form_field(form.to_value_y, class='form-control', placeholder='To') }}
            </div>
            <div class="form-group col-md-4">
                {{ wtf.form_field(form.step_y, class='form-control', placeholder='Step') }}
            </div>
        </div>
         <big> <strong> Z axis </strong></big>
        <br>
        <br>
        <div class="row" >
            <div class="form-group col-md-4">
                {{ wtf.form_field(form.from_value_z, class='form-control', placeholder='To') }}
            </div>
            <div class="form-group col-md-4">
                {{ wtf.form_field(form.to_value_z, class='form-control', placeholder='To') }}
            </div>
            <div class="form-group col-md-4">
                {{ wtf.form_field(form.step_z, class='form-control', placeholder='Step') }}
            </div>
        </div>
        {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% if figure %}
    <div class="chart" id="bargraph">
        <script>
            var graphs = {{figure | safe}};
            Plotly.plot('bargraph',graphs,{});
        </script>
    </div>
{% endif %}
{% endblock %}